.minecraft/logs/
.minecraft/config/InvTweaks.cfg.bak
.minecraft/config/InvTweaksRules.txt
.minecraft/config/InvTweaksTree.txt
.minecraft/config/InvTweaksTreeBackup.txt
.minecraft/mods/TheBetweenlands-3.8.1-universal.jar
.minecraft/mods/mods.zip
